:root {
    --body-bg-color: #121214;
    --text-color: #E1E1E6;
    --title-color: #04D361;
    --form-color: #A8A8A8;
    --text-form: #6A6A6A;
    --bg-button-color: #8257e5;

    --font-padrao: 'League Spartan', sans-serif;
    --font-regular: 400;
    --font-media: 500;
    --font-pesada: 700;

    font-family: var(--font-padrao);
}

body {
    background-color: var(--body-bg-color);
    color: var(--text-color);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "container" "poster";
}

.container {
    grid-area: 'container';

    padding: 2rem;

    display: flex;
    flex-direction: column;
}

.poster {
    grid-area: 'poster';

    background-image: url(../img/read_news.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    background-position: right center;

    height: 100vh;

}

.conteudo_principal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 300px;

}